@tailwind base;
@tailwind components;
@tailwind utilities;

// custom class since it's not possible to write multiple rules for the same class
.hero-bg {
    min-width: 654px;
    min-height: 480px;
    background: linear-gradient(to right bottom, hsla(263, 70%, 50%, .4), hsla(263, 70%, 50%, .4)), url(/image-header-mobile.jpg) top no-repeat;
    @apply bg-cover;
}
